<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
        <nav class="navbar">
            <a href="/" class="navbar-brand">Book Store</a>
            <div class="navbar-links">
                <a href="/">Home</a>
                <a href="/books/adults">Books for Adults</a>
                <a href="/books/kids">Books for Kids</a>
                <a href="/books/new">Add Books</a>
            </div>
        </nav>

