<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
        <nav class="navbar">
            <a href="/" class="navbar-brand">Book Store</a>
            <div class="navbar-links">
                <a href="/books/adults">Books for Adults</a>
                <a href="/books/kids">Books for Kids</a>
                <% if (user) { %>
                    <!-- Links for logged in users -->
                    <a href="/books/new">Add Books</a>
                    <a href="/carts">Cart</a>
                    <a href="/logout" class="logout">LOG OUT</a>
                <% } else { %>
                    <!-- Links for guests -->
                    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
            </div>
        </nav>

