body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 0 50px 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ddd;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0; 
  right: 0; 
  height: 40px;
}

.show-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px; 
}

.section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-top: 0;
}

.section img {
  max-width: 100%;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section ul li {
  padding: 10px 0;
}

#add-review-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#add-review-form label {
  display: block;
  margin-bottom: 5px;
}

#add-review-form textarea,
#add-review-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#add-review-form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.reviews-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.reviews-table th,
.reviews-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.reviews-table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.book-form{
  display:flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
}

.book-form label{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.book-form input, 
select,
textarea{
  padding: 10px;
  margin-top: 5px;
}

.book-form button{
  padding: 10px;
  background-color: #008CBA;
  border: none;
  color:#ccc;
  cursor: pointer;
  transition: 0.3s;
}

.book-form button:hover{
  background-color: #007b9a;
}